.status__actions {
  .actions__popover {
    position: absolute;
    left: -170px;
    width: 205px;
    top: 35px;
    border: 1px solid dimgrey;
    border-radius: 2px;
    padding: 10px;
    background: white;
  }
  .actions__arrow {
    width: 10px;
    height: 10px;
    border-top: 1px dimgrey solid;
    top: -5px;
    position: absolute;
    transform: rotate(45deg);
    border-left: 1px dimgrey solid;
    background: white;
    right: 15px;
  }
}
